# Created by .ignore support plugin (hsz.mobi)
.idea/
.exponent/
.babelrc
node_modules/.staging/
node_modules/normalize-package-data/test/normalize.js~
.exponent/packager-info.json
.exponent/packager-info.json
