# Created by .ignore support plugin (hsz.mobi)
.idea/
node_modules/.staging/
node_modules/normalize-package-data/test/normalize.js~


.exponent/packager-info.json
.babelrc
.exponent/
.exponent/settings.json